<?xml version='1.0' encoding='utf-8'?>
<widget id="fr.junsong.parissports" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>LoveFit</name>
    <description>
        Mobile Application for Wordpress News Website – Daily News
    </description>
    <author email="mobile@taydotech.com" href="http://taydotech.com/">
      TaydoTech
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AllowInlineMediaPlayback" value="true" />
    <preference name="MediaPlaybackRequiresUserAction" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="FadeSplashScreenDuration" value="0" />
    <preference name="android-minSdkVersion" value="14" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="SplashScreen" value="screen" />
    <allow-navigation href="*youtube*" />
    <allow-navigation href="*ytimg*" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-device" spec="~1.1.2" />
    <plugin name="cordova-plugin-console" spec="~1.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="~1.2.2" />
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.2" />
    <plugin name="cordova-plugin-statusbar" spec="~2.1.3" />
    <plugin name="ionic-plugin-keyboard" spec="~2.2.1" />
    <plugin name="cordova-plugin-x-toast" spec="~2.5.2" />
    <plugin name="cordova-plugin-x-socialsharing" spec="~5.1.3" />
    <plugin name="cordova-plugin-camera" spec="https://github.com/apache/cordova-plugin-camera.git" />
    <plugin name="cordova-plugin-inappbrowser" spec="~1.5.0" />
    <plugin name="onesignal-cordova-plugin" spec="~2.0.4" />
    <plugin name="cordova-plugin-network-information" spec="~1.3.0" />
    <platform name="android">
       
    </platform>
    <plugin name="cordova-plugin-google-analytics" spec="~1.7.4" />
    <plugin name="cordova-plugin-admob-free" spec="~0.8.0" />
</widget>
